/microservice-config-learning/microservice-config-client/target
/microservice-config-learning/microservice-config-client/*.iml
/microservice-config-learning/microservice-config-client-authentication/*.iml
/microservice-config-learning/microservice-config-client-authentication/target
/microservice-config-learning/microservice-config-client-eureka/*.iml
/microservice-config-learning/microservice-config-client-eureka/target
/microservice-config-learning/microservice-config-client-refresh/*.iml
/microservice-config-learning/microservice-config-client-refresh/target
/microservice-config-learning/microservice-config-client-refresh-bus/*.iml
/microservice-config-learning/microservice-config-client-refresh-bus/target
/microservice-config-learning/microservice-config-server/*.iml
/microservice-config-learning/microservice-config-server/target
/microservice-config-learning/microservice-config-server-authentication/*.iml
/microservice-config-learning/microservice-config-server-authentication/target
/microservice-config-learning/microservice-config-server-encrypt/*.iml
/microservice-config-learning/microservice-config-server-encrypt/target
/microservice-config-learning/microservice-config-server-encrypt-rsa/*.iml
/microservice-config-learning/microservice-config-server-encrypt-rsa/target
/microservice-config-learning/microservice-config-server-eureka/*.iml
/microservice-config-learning/microservice-config-server-eureka/target
/microservice-config-learning/*.iml
/.idea
/microservice-consumer-movie/*.iml
/microservice-consumer-movie-feign/*.iml
/microservice-consumer-movie-feign/target
/microservice-consumer-movie-feign-customizing/*.iml
/microservice-consumer-movie-feign-customizing-without-hystrix/*.iml
/microservice-consumer-movie-feign-with-hystrix/*.iml
/microservice-consumer-movie-feign-with-hystrix-hystrix-factory/*.iml
/microservice-consumer-movie-ribbon/*.iml
/microservice-consumer-movie-ribbon-properties-customizing/*.iml
/microservice-consumer-movie-ribbon-test/*.iml
/microservice-consumer-movie-ribbon-with-hystrix2/*.iml
/microservice-consumer-movie-ribbon-with-hystrix/*.iml
/microservice-consumer-movie-ribbon-with-hystrix/target
/microservice-consumer-movie-ribbon-with-hystrix3/*.iml
/microservice-consumer-movie-ribbon-with-hystrix-propagation/*.iml
/microservice-consumer-movie-ribbon-without-eureka/*.iml
/microservice-discovery-eureka/*.iml
/microservice-discovery-eureka/target
/microservice-discovery-eureka-ha/*.iml
/microservice-file-upload/*.iml
/microservice-gateway-zuul/*.iml
/microservice-gateway-zuul/target
/microservice-gateway-zuul-fallback/*.iml
/microservice-gateway-zuul-fallback/target
/microservice-gateway-zuul-filter/*.iml
/microservice-gateway-zuul-filter/target
/microservice-gateway-zuul-reg-exp/*.iml
/microservice-gateway-zuul-reg-exp/target
/microservice-hystrix-dashboard/*.iml
/microservice-hystrix-dashboard/target
/microservice-hystrix-turbine/*.iml
/microservice-hystrix-turbine2/*.iml
/microservice-hystrix-turbine3/*.iml
/microservice-provider-user/*.iml
/microservice-provider-user/target
/microservice-sidecar/*.iml
